# MY_DICTIONARY

In [1]:
my_dictionary = {}

In [3]:
len(my_dictionary)

0

In [8]:
type(my_dictionary)

dict

In [10]:
my_dictionary={'name':'Karim Gilani'}

In [11]:
my_dictionary

{'name': 'Karim Gilani'}

In [12]:
my_dictionary['name']

'Karim Gilani'

In [13]:
my_dictionary['age']=21

In [14]:
my_dictionary

{'name': 'Karim Gilani', 'age': 21}

In [15]:
my_dictionary[100]="Hello"

In [16]:
my_dictionary

{'name': 'Karim Gilani', 'age': 21, 100: 'Hello'}

In [21]:
my_dictionary['age']

21

In [27]:

for a in range(10):
    print(my_dictionary['name'])

Karim Gilani
Karim Gilani
Karim Gilani
Karim Gilani
Karim Gilani
Karim Gilani
Karim Gilani
Karim Gilani
Karim Gilani
Karim Gilani

In [26]:
for k in my_dictionary.keys():
    print (k)

name
age
100

In [32]:
num=int(input('Enter Any Number: '))
for k in range(1,11):
    print(f'{num} X {k} = {num*k}')

Enter Any Number: 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [35]:
for k in range(1,100,2):
    print(k)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [37]:
list=[]
name=input('Enter name: ')
list.append(name)

Enter name: karim

In [38]:
list

['karim']

Enter How Many Friends: 5
Enter Friend name 1: sami

AttributeError: 'str' object has no attribute 'startwith'

In [42]:
dictA = {'name':"Pakistan", 'ages': my_dictionary}
dictA

{'name': 'Pakistan', 'ages': {'name': 'Karim Gilani', 'age': 21, 100: 'Hello'}}

In [ ]:
dictA