In [3]:
X=3

In [4]:
X

3

In [6]:
y= [4,7,55,89] #list
y

[4, 7, 55, 89]

In [8]:
name = ['shahzad', 'mohsin', 'hamza', ]
name

['shahzad', 'mohsin', 'hamza']

In [9]:
z=['karachi', 1945,23.7]
z

['karachi', 1945, 23.7]

In [10]:
fruits = ['apple', 'peach', 'banana']

In [11]:
fruits

['apple', 'peach', 'banana']

In [12]:
del fruits[2]

In [13]:
fruits

['apple', 'peach']

In [14]:
fruits.append(' mango')
fruits

['apple', 'peach', ' mango']

In [15]:
fruits.insert(3,'orange')
fruits

['apple', 'peach', ' mango', 'orange']

In [17]:
fruits.count('grape')

0

In [18]:
fruits.count('apple')

1

In [24]:
fruits

['apple', 'peach', ' mango', 'orange', 'apple', 'apple', 'mango', 'mango']

In [21]:
fruits.count('apple')

3

In [29]:
del fruits[4]
fruits

['apple', 'peach', ' mango', 'orange', 'apple', 'mango', 'mango']

In [30]:
del fruits[5]
fruits

['apple', 'peach', ' mango', 'orange', 'apple', 'mango']

In [31]:
del fruits[4]
fruits

['apple', 'peach', ' mango', 'orange', 'mango']

In [32]:
del fruits[4]
fruits

['apple', 'peach', ' mango', 'orange']

In [34]:
a=[2,5,34,67,34,12]
a.sort(reverse=True) #Descending order
a

[67, 34, 34, 12, 5, 2]

In [35]:
random = [27, 45, 12, 89, 33, 99]
random.reverse() #rverse list randomly
random

[99, 33, 89, 12, 45, 27]

In [36]:
b = random
b

[99, 33, 89, 12, 45, 27]

In [37]:
random.append(120)
random

[99, 33, 89, 12, 45, 27, 120]

In [38]:
b

[99, 33, 89, 12, 45, 27, 120]

In [39]:
b.append(44)

In [40]:
b

[99, 33, 89, 12, 45, 27, 120, 44]

In [41]:
random

[99, 33, 89, 12, 45, 27, 120, 44]

In [42]:
c = random.copy()
c

[99, 33, 89, 12, 45, 27, 120, 44]

In [43]:
c.append(33)
c

[99, 33, 89, 12, 45, 27, 120, 44, 33]

In [44]:
random

[99, 33, 89, 12, 45, 27, 120, 44]

In [45]:
poppedElement = random.pop()

In [46]:
random

[99, 33, 89, 12, 45, 27, 120]

In [47]:
poppedElement

44

In [49]:
random.pop()

27

In [50]:
random

[99, 33, 89, 12, 45]

In [51]:
poppedElement

44

In [52]:
newList = []

In [63]:
newList.append(random.pop())

In [64]:
newList

[45, 12, 89, 33, 99]

In [65]:
random

[]

In [66]:
newList

[45, 12, 89, 33, 99]

In [68]:
ToDo = ['Task1', 'Task2', 'Task3']
ToDo

['Task1', 'Task2', 'Task3']

In [71]:
ToDo.pop(2)

'Task3'

In [72]:
ToDo

['Task1', 'Task2']

# Slicing

In [75]:
aList = [1,2,3,4,5,6,7,8,9]
#Index [0,1,2,3,4,5,6,7,8]
aList[4]

5

In [76]:
aList[4:7]

[5, 6, 7]

In [77]:
aList[4:]

[5, 6, 7, 8, 9]

In [78]:
aList[:7]
#Last Index will not be include
#Slicing will never generate errors
#Slicing will always start with left and end to right
# 2-5 possible   5-2 not possible

[1, 2, 3, 4, 5, 6, 7]

In [79]:
students = ['asad', 'fahad', 'kami', 'hasan', 'saad', 'faisal']
#NegativeIndexing [-6,-5,-4,-3,-2,-1]

In [80]:
students

['asad', 'fahad', 'kami', 'hasan', 'saad', 'faisal']

In [81]:
students[-2]

'saad'

In [82]:
students[-3:]

['hasan', 'saad', 'faisal']

In [83]:
students[-5:-2]

['fahad', 'kami', 'hasan']

In [85]:
students[-5:4]

['fahad', 'kami', 'hasan']

# Tuples

In [86]:
a = (1,2,3,4,5,6)
#once the values are assigned no changes (add/delete/change) can be done

In [87]:
a

(1, 2, 3, 4, 5, 6)

In [88]:
a = 4,5,6    #binding/#packing
a

(4, 5, 6)

In [89]:
a

(4, 5, 6)

In [90]:
x,y,z = a   #unpacking

# variable should be equal to elements mentioned in tuple

In [91]:
x

4

In [92]:
y

5

In [93]:
z

6

In [110]:
ListInList = [1,2,3,['apple', 'orange', 'banana',[20,30,40]]]

In [111]:
ListInList

[1, 2, 3, ['apple', 'orange', 'banana', [20, 30, 40]]]

In [96]:
ListInList[3]

['apple', 'orange', 'banana']

In [98]:
ListInList[3][0]

'apple'

In [99]:
ListInList[3][0]= 'eggs'

In [101]:
ListInList[3]

['eggs', 'orange', 'banana']

In [103]:
ListInList[3][0]= 'apple'

In [104]:
ListInList

[1, 2, 3, ['apple', 'orange', 'banana']]

In [109]:
ListInList

[1, 2, 3, ['apple', 'orange', 'banana']]

In [113]:
ListInList[3][3][0:3]

[20, 30, 40]

In [114]:
ListInList

[1, 2, 3, ['apple', 'orange', 'banana', [20, 30, 40]]]

In [118]:
ListInList[3].insert(1,'mango')

In [119]:
ListInList

[1, 2, 3, ['mango', 'mango', 'apple', 'orange', 'banana', [20, 30, 40]]]